{% extends "base.html" %}
{% block title %}Themes | Bookful{% endblock %}
{% block content %}
<h1 class="h2 mb-4">Themes</h1>

<div class="row g-4">
  <div class="col-lg-4">
    <article class="theme-option theme-option-blue {{ 'is-selected' if current_user.theme == 'bookful-blue' else '' }}">
      <div class="theme-option-preview"><span>Bookful</span><i></i><i></i><i></i></div>
      <div class="p-4">
        <h2 class="h4">Bookful Blue</h2>
        <form method="post"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"><input type="hidden" name="theme" value="bookful-blue"><button class="btn btn-primary w-100" type="submit" {{ 'disabled' if current_user.theme == 'bookful-blue' else '' }}>{{ 'Selected' if current_user.theme == 'bookful-blue' else 'Select' }}</button></form>
      </div>
    </article>
  </div>
  <div class="col-lg-4">
    <article class="theme-option theme-option-red {{ 'is-selected' if current_user.theme == 'red' else '' }}">
      <div class="theme-option-preview"><span>Bookful</span><i></i><i></i><i></i></div>
      <div class="p-4">
        <h2 class="h4">Red</h2>
        <form method="post"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"><input type="hidden" name="theme" value="red"><button class="btn btn-danger w-100" type="submit" {{ 'disabled' if current_user.theme == 'red' else '' }}>{{ 'Selected' if current_user.theme == 'red' else 'Select' }}</button></form>
      </div>
    </article>
  </div>
  <div class="col-lg-4">
    <article class="theme-option theme-option-manatees {{ 'is-selected' if current_user.theme == 'manatees' else '' }}">
      <div class="theme-option-preview"><span>Bookful</span><i></i><i></i><i></i></div>
      <div class="p-4">
        <h2 class="h4">Manatees</h2>
        <form method="post"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"><input type="hidden" name="theme" value="manatees"><button class="btn btn-success w-100" type="submit" {{ 'disabled' if current_user.theme == 'manatees' else '' }}>{{ 'Selected' if current_user.theme == 'manatees' else 'Select' }}</button></form>
      </div>
    </article>
  </div>
</div>
{% endblock %}
